/* DM Sans Font Family */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/dm-sans/dm-sans-v17-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/dm-sans/dm-sans-v17-latin-500.woff2') format('woff2');
}

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../assets/fonts/dm-sans/dm-sans-v17-latin-700.woff2') format('woff2');
}

/* Space Grotesk Font Family */
@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/space-grotesk/space-grotesk-v22-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/space-grotesk/space-grotesk-v22-latin-500.woff2') format('woff2');
}

@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../assets/fonts/space-grotesk/space-grotesk-v22-latin-600.woff2') format('woff2');
}

@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../assets/fonts/space-grotesk/space-grotesk-v22-latin-700.woff2') format('woff2');
}